.album-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.album-info-container{
  align-content: center;
  border: 1px solid rgb(248, 249, 250);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(5, 78, 21, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 8%;
  width: 280px;
}

.album-info-container img{
  align-self: center;
  margin-top: 16px;
  width: 150px;
}

.album-container p {
  font-family: "Open Sans","Source Sans Pro",Helvetica,sans-serif;
  letter-spacing: 0.1em;
  margin: 24px 16px 0 16px;
}

.album-info-container p:nth-child(2){
  color: rgb(53, 53, 53);
  font-weight: 900;
  font-size: 16px;
}

.album-info-container p:nth-child(3) {
  color: rgb(45, 104, 16);
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
}

.music-container{
  margin-top: 30px;
}

.text-found-album{
  color: rgb(33, 79, 59);
  font-size: 17px;
  font-weight: 900;
}

.song-title{
  padding: 8px 0;
}

/* referência para checkbox formato coração: https://www.youtube.com/watch?v=jQuLIUZIG3k&ab_channel=CodingArtist */
input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: rgb(63, 216, 11);
  transform: rotate(45deg);
  outline: none;
  height: 12px;
  width: 12px;
  margin-left: 20px;
}

input[type="checkbox"]::before {
  position: absolute;
  content: "";
  background-color: rgb(20, 217, 46);
  height: 80%;
  width: 100%;
  top: -59%;
  border-radius: 75px 75px 0 0;
  
}

input[type="checkbox"]::after {
  position: absolute;
  content: "";
  background-color: rgb(52, 245, 9);
  height: 67%;
  width: 100%;
  transform: rotate(-90deg);
  top: 17%;
  right: 78%;
  border-radius: 75px 75px 0 0;
}

input[type="checkbox"]:checked, input:checked[type="checkbox"]::before, input:checked[type="checkbox"]::after {
  background-color: rgb(193, 18, 31);
}

input[type="checkbox"], input[type="checkbox"]::before, input[type="checkbox"]::after{
  margin-bottom: 18px;
}

.individual-music-container{
  margin-left: 16px;
}
.audio-favorite-container{
  margin-left: 8px;
}