body{
  background-color: rgb(213, 236, 222);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
.loginContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
.loginFormContainer {
    background-color: #051611;
    border-radius: 16px;
    box-shadow: rgba(12, 2, 2, 0.16) 0 1px 4px;
    margin: auto;
    padding: 86px 64px;
    top: 50%;
    width: 600px;
  }
  
.loginContainer form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
.logo {
    align-items: center;
    display: flex;
    gap: 12px;
    margin-top: 72px;
    justify-content: space-between;
  }