*{
  font-family: "Open Sans","Source Sans Pro",Helvetica,sans-serif;
}

.page-profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-container{
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 5%;
  width: fit-content;
}

.profile-container img{
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: center;
  height: 150px;
  width: 150px;
}

.profile-container h2{
  color:  rgb(20, 37, 3);
  font-size: 18px;
  font-weight: 900;
  margin-top: 30px;
  text-transform: uppercase;
}

.profile-container p {
  margin-top: 8px;
}

.profile-container a {
  align-self: center;
  margin-top: 30px;
  text-decoration: none;
}

.btn-edit-profile {
  align-items: center;
  border: 3px solid transparent;
  box-sizing: border-box;
  color: rgb(20, 37, 3);
  display:flex;
  font-weight: 900;
  font-family: "Open Sans","Source Sans Pro",Helvetica,sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  justify-content: center;
  height: 32px;
  margin-top: 3%;
  margin-left:  8px;
  padding: 1rem;
  text-transform: uppercase; 
  width: fit-content;
}

.btn-edit-profile {
  background-image:
    linear-gradient(white, white),
    linear-gradient(180deg,  rgb(20, 37, 3), rgb(7, 65, 37) 50%, rgb(11, 49, 18));

  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 200%;
  background-position: 0 0, 0 100%;
  background-origin: padding-box, border-box;
  animation: highlight 1s infinite alternate;
}

@keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

